<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>10.0</string>
	<key>CFBundleDisplayName</key>
	<string>COVID Resistance</string>
	<key>CFBundleIdentifier</key>
	<string>com.epam.crownresistance</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UILaunchStoryboardName</key>
	<string>CoviLaunch</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>SFProDisplay-Black.ttf</string>
		<string>SFProDisplay-BlackItalic.ttf</string>
		<string>SFProDisplay-Bold.ttf</string>
		<string>SFProDisplay-BoldItalic.ttf</string>
		<string>SFProDisplay-Heavy.ttf</string>
		<string>SFProDisplay-HeavyItalic.ttf</string>
		<string>SFProDisplay-Light.ttf</string>
		<string>SFProDisplay-LightItalic.ttf</string>
		<string>SFProDisplay-Medium.ttf</string>
		<string>SFProDisplay-MediumItalic.ttf</string>
		<string>SFProDisplay-Regular.ttf</string>
		<string>SFProDisplay-RegularItalic.ttf</string>
		<string>SFProDisplay-Semibold.ttf</string>
		<string>SFProDisplay-SemiboldItalic.ttf</string>
		<string>SFProDisplay-Thin.ttf</string>
		<string>SFProDisplay-ThinItalic.ttf</string>
		<string>SFProDisplay-Ultralight.ttf</string>
		<string>SFProDisplay-UltralightItalic.ttf</string>
		<string>fa-solid-900.ttf</string>
		<string>icomoon.ttf</string>
	</array>
	<key>CFBundleName</key>
	<string>COVID Resistance</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>COVID Resistance would like to make data available to nearby Bluetooth devices even when you&apos;re not using the app.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>COVID Resistance would like to make data available to nearby Bluetooth devices even when you&apos;re not using the app.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
