<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
        
    <!--Bluetooth constants-->
    <!--Defines the amount of time the device contact information being persisted on the device -->
    <add key="BluetoothTracing_DataExpirationTimeDays" value="14" />
    <!--Defines amount of time, the device will be ignored after being processed for the first time -->
    <add key="BluetoothTracing_DeviceThrottleTimeMinutes" value="5" />
        
    <add key="BluetoothTracing_ServiceUUID" value="0000b81d-0000-1000-8000-112233445501" />
    <add key="BluetoothTracing_CharacteristicUUID" value="0000b81d-0000-1000-8000-112233445502" />
        
    <!--Push notification constants-->
    <add key="PushNotifications_SubscriptionTags" value="default" />
    <add key="PushNotifications_FCMTemplateBody" value="{&quot;data&quot;:{&quot;message&quot;:&quot;$(messageParam)&quot;}}" />
    <add key="PushNotifications_APNTemplateBody" value="{&quot;aps&quot;:{&quot;alert&quot;:&quot;$(messageParam)&quot;}}" />
        
  </appSettings>
</configuration>